name: Update OSS Activity
on:
  workflow_dispatch:

jobs:
  update-oss-activity:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: |
          ./scripts/oss-activity.sh > oss-activity.tmp
          node ./scripts/update-readme.mjs README-ja.md oss-activity.tmp
          node ./scripts/update-readme.mjs README.md oss-activity.tmp
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git diff --quiet || {
            git add README-ja.md
            git commit -m 'Update OSS activity' || echo "No changes to commit"
            git push origin HEAD:main
          }
